.poker-wrapper {
    height: 100vh;
    width: 105%;
    position: absolute; /* changed from relative */
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    background-color: #3c7ac5;
    overflow:"hidden";
  }
  
  .poker-background {
    flex: 1;
    background-image: url('../assets/poker_table.jpg');
    background-color: #b4c7be;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    overflow: hidden;
    width: "100%";
  }
  
  
  